@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Listnames from Cache:</h3>


@foreach (var news in ViewBag.NewsFromCache)
{
    @Html.Raw(news.Title)
    @Html.Raw(news.Article)
    @Html.Raw(news.Body)
}