@model IEnumerable<TestPNPEventReceiverWeb.Models.StebraEntity>

@foreach (var stebra in Model)
{
    <div class="jumbotron">
        <h4>@stebra.RowKey</h4>
        <p><i>@stebra.Article @stebra.Date</i></p>
        <p>@Html.Raw(stebra.Body)</p>
    </div>
}