@model IEnumerable<TestPNPEventReceiverWeb.Models.StebraEntity>

@foreach (var newsEntry in Model)
{
    <div class="jumbotron">
        <h4>@newsEntry.RowKey</h4>
        <p>@Html.Raw(newsEntry.Body)</p>
    </div>
}